# ignore everything by default
*

# but don't ignore these top-level files
!/.gitignore
!/.gitattributes
!/package.json
!/package-lock.json
!/README.md

# un-ignore the src folder and everything beneath it
!/src/
!/src/**

# un-ignore the tools folder and everything beneath it
!/tools/
!/tools/**

# (optionally) un-ignore .gitattributes itself
!/.gitattributes